<form action="" class="auth-form">
  <h3>Log in</h3>
  <div class="auth-input-group">
    <input
      type="text"
      class="auth-input"
      name="username"
      placeholder="Username"
    />
  </div>
  <div class="auth-input-group">
    <input
      type="password"
      class="auth-input"
      name="password"
      placeholder="Password..."
    />
  </div>

  <div class="auth-question">
    <span class="question-text">Don't have an account? Signup!</span>
    <button type="submit" class="button auth-button">Login</button>
  </div>
</form>
