.auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 1rem;

  & > .auth-input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    height: 2rem;

    & > .auth-input {
      border: none;
      outline: none;
      background-color: var(--inputColor);
      border-radius: 8px;
      flex: 1;
      padding: 20px;
    }
  }

  & > .auth-question {
    display: flex;
    justify-content: space-between;
    & > .question-text {
      margin-right: 2rem;
    }

    & > .auth-link {
      text-decoration: none;
      margin-left: 0.5rem;
      color: var(--video);
      transition: all .6s;

      &:hover{
        color: rgba($color: var(--video), $alpha: 1.5);
      }
    }
  }
  & > .auth-button {
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
  }
}
