<form [formGroup]="form" class="auth-form">
  <h3>Log in</h3>
  <div class="auth-input-group">
    <input
      type="text"
      class="auth-input"
      pInputText
      placeholder="Nickname"
      formControlName="nickname"
    />
  </div>
  <div class="auth-input-group">
    <input
      type="password"
      class="auth-input"
      pInputText
      formControlName="password"
      placeholder="Password..."
    />
  </div>

 
  <div class="auth-question">
    <span class="question-text">Don't have an account?</span>
    <a routerLink="/auth/signup" class="auth-link">Signup!</a>
  </div>
  <button (click)="onSubmit()" class="button auth-button">Login</button>


</form>
