.profile-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
  
    & > .profile-input-group {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 1rem;
      height: 2rem;
  
      & > .profile-input {
        border: none;
        outline: none;
        background-color: var(--inputColor);
        border-radius: 8px;
        flex: 1;
        padding: 20px;
      }
    }
  
  
  
    & > .profile-button{
      width: 6rem;
      height: 2.5rem;
      align-self: flex-end;
      margin: 2rem 0;
    }
  }