<div class="comment">
  <div class="comment-header">
    <img
      src="../../../../assets/img/postpic3.JPG"
      class="comment-image"
      alt="profile"
    />
  </div>
  <div class="comment-body">
    <label for="make-comment" class="comment-box">
      <textarea
        [(ngModel)]="message"
        id="make-comment"
        class="comment-input"
      ></textarea>
      <ul class="comment-icon-list">
        <li class="comment-icon-list-item">
          <button
            type="button"
            class="comment-icon-btn"
            *ngIf="!gif_image && !message_image"
          >
            <img
              src="../../../../assets/img/003-hacker.png"
              class="comment-icon"
              alt="comment-icon"
            />
          </button>
        </li>
        <li class="comment-icon-list-item">
          <button type="button" class="comment-icon-btn">
            <img
              src="../../../../assets/img/002-happy.png"
              class="comment-icon"
              alt="comment-icon"
            />
          </button>
        </li>
        <li class="comment-icon-list-item">
          <div style="display: none">
            <input
              #image
              type="file"
              accept="image/*"
              class="p-inputtext"
              (change)="onChangeImage($event)"
            />
          </div>
          <button
            type="button"
            class="comment-icon-btn"
            *ngIf="!gif_image && !message_image"
            (click)="choseImage(image, 'image')"
            id="photo"
          >
            <img
              src="../../../../assets/img/005-camera.png"
              class="comment-icon"
              alt="comment-icon"
            />
          </button>
        </li>
        <li class="comment-icon-list-item">
          <button
            type="button"
            class="comment-icon-btn"
            (click)="choseImage(image, 'gif')"
            id="gif"
            *ngIf="!gif_image && !message_image"
          >
            <img
              src="../../../../assets/img/001-gif.png"
              class="comment-icon"
              alt="comment-icon"
            />
          </button>
          <app-gifs [ngStyle]="{'display': gif_selected?'block':'none'}"></app-gifs>
        </li>
        <li class="comment-icon-list-item">
          <button
            type="button"
            class="comment-icon-btn"
            *ngIf="!gif_image && !message_image"
            (click)="choseImage(image, 'webp')"
            id="webp"
          >
            <img
              src="../../../../assets/img/004-sticker.png"
              class="comment-icon"
              alt="comment-icon"
            />
          </button>
        </li>

        <li class="comment-icon-list-item comment-icon-list-item-end">
          <button
            type="button"
            class="comment-icon-btn"
            [ngClass]="{ disabled: !message && !gif_image && !message_image }"
            (click)="SendMessage()"
          >
            <span class="comment-icon" id="comment-send">
              <i class="fa-brands fa-google-play"></i>
            </span>
          </button>
        </li>
      </ul>
    </label>
    <div class="previewImage" *ngIf="gif_image || message_image">
      <img        
        [src]="message_image?message_image:gif_image.url"
        width="20%"
        class="img-fluid rounded-start"
        alt="preview"
      />
      <button class="close-file" (click)="closeImage()">
        <i class="pi pi-times"></i>
      </button>
    </div>
  </div>
</div>
