<div class="person">
  <img src="../../../../assets/img/img2.png" alt="person" class="person-img" />
  <h5 class="fullname">Əli Məhərrəmli</h5>
  <p class="username">brain000452 · Instagram</p>
  <button class="profile-btn">View Profile</button>

  <ul class="message-list">
    <li class="message-item my-message">
      <div class="message-body">
        <p class="message-text">Salam</p>
      </div>
    </li>

    <li class="message-item other-message">
      <img
        src="../../../../assets/img/img1.png"
        class="other-image"
        alt="person"
      />
      <div class="message-body">
        <p class="message-text">Salamm</p>
      </div>
    </li>

    <li class="message-item other-message">
        <img
        src="../../../../assets/img/img1.png"
        class="other-image"
        alt="person"
      />
      <div class="message-body">
        <p class="message-text">Necəsən Orxan müəllim?</p>
      </div>
    </li>

    <li class="message-item my-message">
      <div class="message-body">
        <p class="message-text">Müəllim nedi</p>
    </div>
    </li>

    <li class="message-item my-message">
      <div class="message-body">
        <p class="message-text">Axır ki açdım bunu da Sen gönderdin</p>
      </div>
    </li>

    <li class="message-item my-message">
      <div class="message-body">
        <p class="message-text">03.08.24</p>
      </div>
    </li>

    <li class="message-item my-message">
      <div class="message-body">
        <p class="message-text">
          ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
        </p>
        <button class="message-emotion">❤️</button>
      </div>
    </li>
  </ul>
</div>
