<div class="chat">
  <div class="chat-left">
    <div class="chat-left-header">
      <h5 class="username">Orxan Ibra</h5>
      <button class="create-chat">
        <span class="create-chat-icon">
          <i class="fa-solid fa-pen-to-square"></i>
        </span>
      </button>
    </div>
    <div class="chat-left-contact">
      <h3 class="contact-title">Messages</h3>
      <ul class="contact-list">


        <app-chat-group-item [chat]="chat_group" *ngFor="let chat_group of me?.chat_groups"></app-chat-group-item>
        
      </ul>
    </div>
  </div>
  <div class="chat-right">
    <router-outlet></router-outlet>
  </div>

</div>
