<div class="chat">
  <div class="chat-left">
    <div class="chat-left-header">
      <h5 class="username">Orxan Ibra</h5>
      <button class="create-chat">
        <span class="create-chat-icon">
          <i class="fa-solid fa-pen-to-square"></i>
        </span>
      </button>
    </div>
    <div class="chat-left-contact">
      <h3 class="contact-title">Messages</h3>
      <ul class="contact-list">
        <li class="contact-item active-contact">
          <a routerLink="123456" class="contact-person">
            <img
              src="../../../assets/img/img3.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </a>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>

        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
        <li class="contact-item">
          <button class="contact-person">
            <img
              src="../../../assets/img/img1.png"
              class="contact-image"
              alt="person"
            />
            <div class="contact-person-info">
              <h5 class="contact-person-title">Elza Necefquliyeva</h5>
              <span class="contact-person-small">2s once aktifti</span>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="chat-right">
    <router-outlet></router-outlet>
  </div>

</div>
