
.info-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 1rem;

  & > .info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .info-edit-icon {
      i {
        font-size: 1.5rem;
      }
    }

    &:hover {
      & > .info-edit-icon {
        cursor: pointer;
      }
    }
  }

  & > .info-body {
    & > .info {
        margin: .5rem 0;
      & > .info-title {
        font-weight: bolder;
        margin-right: .5rem;
      }
    }
  }

  & > .info-footer {
    & > .logout-button {
      width: 7rem;
      height: 2rem;
      margin-top: 6rem;
      //   align-self: flex-end;
      float: right;
    }
  }
}