<div class="profileCard">
    <div class="profile-images">
        <img src="../../../assets/img/cover.jpg" alt="cover" />
        <img src="../../../assets/img/profileImg.jpg" alt="profile" />
    </div>

    <div class="profile-name">
        <span id="name">Zendaya MJ</span>
        <span>Senior UI/UX Designer</span>
    </div>

    <div class="follow-status">
        <hr>
        <div>
            <div class="follow">
                <span>6,890</span>
                <span>Followings</span>
            </div>
            <div class="vl"></div>
            <div class="follow">
                <span>1</span>
                <span>Followers</span>
            </div>
        </div>
        <hr>
    </div>

    <span id="myProfile">My Profile</span>
</div>