<div class="profileCard">
  <div class="profile-images">
    <img [src]="me?.cover" alt="cover" />
    <img [src]="me?.profile" alt="profile" />
  </div>

  <div class="profile-name">
    <span id="name">Zendaya MJ</span>
    <span>Senior UI/UX Designer</span>
  </div>

  <div class="follow-status">
    <hr />
    <div>
      <div class="follow">
        <span>{{ this.me?.followings.length }}</span>
        <span>Followings</span>
      </div>
      <div class="vl"></div>
      <div class="follow">
        <span>{{ this.me?.followers.length }}</span>
        <span>Followers</span>
      </div>

      <div class="vl" *ngIf="ProfilePage"></div>
      <div class="follow" *ngIf="ProfilePage">
        <span>{{ this.me?.posts.length }}</span>
        <span>Posts</span>
      </div>
    </div>
    <hr />
  </div>

  <span id="myProfile" *ngIf="!ProfilePage">My Profile</span>
</div>
