.message-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;

  & > .message-body {
    & > .message-text {
      padding: 0.4rem 1rem;
      border-radius: 1.5rem;
      max-width: 600px;
      text-wrap: wrap;
      overflow-wrap: break-word;
      margin-bottom: 0;
    }

    & > .message-emotion {
      background-color: var(--chat-selected);
      padding: 0.2rem 0.5rem;
      border-radius: 50%;
      transform: translateY(-50%);
      font-size: 0.75rem;
    }

    & > .only-emoji {
      background-color: transparent !important;
      font-size: 3rem;
      padding: 0;
      text-align: center;

      & + .message-emotion {
        margin: 0 !important;
      }
    }
  }
}

.my-message {
  & > .message-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    & > .message-text {
      background-color: var(--my-message);
      color: white;
    }

    & > .message-emotion {
        margin: 0 1rem;

    }
  }
}

.other-message {
  & > .message-body {
    & > .message-text {
      background-color: var(--chat-selected);
      color: black;
    }
  }

  & > .other-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
}
