<div class="RightSide">
    <div class="navIcons">
    <img src="../../../assets/img/home.png" alt="home" />
    <i class="pi pi-bars"></i>
    <img src="../../../assets/img/noti.png" alt="notification" />
    <img src="../../../assets/img/comment.png" alt="comment" />
    </div>

    <app-trend-card></app-trend-card>

    <button class="button r-button" type="button" (click)="showPostModal()" label="Show" >Share</button>

    <app-post-modal [post_open]="visible" (post_close)="onModalClosed()"></app-post-modal>
</div>