.followersCard {
  gap: 1rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  font-size: 13px;

  .follower {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      gap: 10px;
      display: flex;
    }

    .follower-image {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
    }

    .name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      & > span:first-of-type {
        font-weight: bold;
      }
    }

    .follower-button{
        height: 2rem;
        padding-left: 20px;
        padding-right: 20px;

        &:hover{
            cursor: pointer;
            color: var(--orange);
            background: transparent;
            border: 2px solid var(--orange);
        }
    }
  }
}
