<div class="post" *ngIf="Post">
  <span> {{ Post?.description }}</span>

  <div class="post-images" *ngIf="Post.images.length > 0">
    <img
      *ngFor="let image of Post.images; let i = index"
      [src]="image"
      [ngStyle]="{
        width:
          Post.images.length == 1 || (Post.images.length % 2 == 1 && i == 0)
            ? '100%'
            : '50%'
      }"
      class="img-fluid rounded-start"
      alt="preview"
    />
  </div>
  <div class="post-videos" *ngIf="Post.video">
    <video width="640" height="360" controls poster>
      <source [src]="Post.video" type="video/mp4" />
      <source [src]="Post.video" type="video/ogg" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="postReact">
    <button type="button" (click)="DoLike()">
      <img
        [src]="
          liked
            ? '../../../assets/img/like.png'
            : '../../../assets/img/notlike.png'
        "
        alt="{{ liked ? 'like' : 'notlike' }}"
      />
    </button>
    <button type="button" (click)="OpenComments()">
      <img src="../../../assets/img/comment.png" alt="comment" />
    </button>
    <img src="../../../assets/img/share.png" alt="share" />
  </div>

  <span class="like">{{ Post.likes.length }} likes</span>

  <div class="detail">
    <span
      ><b>{{ Post?.name }}</b></span
    >
  </div>

  <app-comments *ngIf="Post.read_comments" [current_post]="Post"></app-comments>
</div>
