.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--cardColor);
  // gap: 1rem;
  border-radius: 1rem;

  & > .post-images {
    display: flex;
    flex-wrap: wrap;
    & > img {
      // width: 100%;
      display: inline-block;
      object-fit: cover;
      max-height: 20rem;
    }
  }

  & > .like {
    color: var(--gray);
    font-size: 13px;
  }
  .postReact {
    display: flex;
    align-items: flex-start;
    // gap: 1.5rem;

    & > #post-like {
      position: relative;

      &:hover {
        .emotions-list {
          height: 100%;
        }
      }

      .emotions-list {
        margin: 1rem 0;
        border-radius: 1rem;
        padding: 0;
        display: flex;
        position: absolute;
        bottom: 100%;
        left: 0;
        height: 0;
        // transform: translateX(-50%);
        overflow: hidden;
        z-index: 1;
        transition: 0.4s height;

        & > .emotions-list-item {
          // margin: 0.5rem;
          & > .emotions-list-item-btn {
            transition: 0.7s background-color;
            background-color: aquamarine;
            padding: 0.6rem;
            &:hover {
              // background-color: black;

              & > .emotions-list-item-image {
                transform: scale(1.3);
              }
            }
            & > .emotions-list-item-image {
              width: 40px;
              height: 40px;
              transition: 0.7s all;
            }
          }
        }
      }
    }
    & > .react-btn {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 25px;
        height: 25px;
      }
      & > .like-word {
        font-size: large;
        font-weight: 900;
        margin: 0 0.5rem;
      }
    }
  }

  & > .post-details {
    padding: 1rem 0;

    & > .like-details {
      transition: 0.7s color;
      display: flex;

     

      & > .current-emotion-list {
        display: flex;
        & > .current-emotion-list-item {
          & > .current-emotion-list-item-img {
            transform: translateX(-50%);
          }
        }
      }

      & > .like-text {
        position: relative;

        &:hover {
          color: blue;
  
          & > .liker-list {
            display: block;
          }
        }
        & > .liker-list {
          position: absolute;
          left: 0;
          top: 100%;
          width: 150px;
          display: none;
          background-color: black;
          color: white;
          padding: 0;
          z-index: 1;
          border-radius: 1rem;
          padding: 1rem 0.5rem;
          opacity: 0.9;
          margin: 0.5rem 0;

          & > .liker-list-item {
            padding: 0 0.5rem;
            & > .liker-list-item-text {
              font-size: 12px;
              text-align: left;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
