<div class="post" *ngIf="Post">
  <img *ngIf="Post.image" src="{{ Post.image }}" alt="post" />

  <div class="postReact">
    <button type="button" (click)="DoLike()">
      <img
        src="../../../assets/img/{{ liked ? 'like.png' : 'notlike.png' }}"
        alt="{{liked ? 'like' : 'notlike'}}"
      />
    </button>
    <img src="../../../assets/img/comment.png" alt="comment" />
    <img src="../../../assets/img/share.png" alt="share" />
  </div>

  <span class="like">{{ Post.likes.length }} likes</span>

  <div class="detail">
    <span
      ><b>{{ Post?.name }}</b></span
    >
    <span> {{ Post?.description }}</span>
  </div>
</div>
