.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--cardColor);
  gap: 1rem;
  border-radius: 1rem;

  & > .post-images {
    display: flex;
    flex-wrap: wrap;
    & > img {
      // width: 100%;
      display: inline-block;
      object-fit: cover;
      max-height: 20rem;
    }
  }

  & > .like {
    color: var(--gray);
    font-size: 13px;
  }
  .postReact {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
  }
}
