.contact-item {
    margin: 0.5rem 0;
    transition: background-color 0.4s;

    &:not(.active-contact):hover {
      background-color: rgb(253 248 253);
    }

    & > .contact-person {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 1rem;
      position: relative;
      z-index: 1;

      & > .contact-image {
        width: 75px;
        height: 75px;
        border-radius: 50%;
      }

      & > .contact-person-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 1rem;
        & > .contact-person-title {
          font-size: medium;
          font-weight: bold;
        }
        & > .contact-person-small {
          font-size: small;
        }
      }
    }
  }